body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('love.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    animation: fadeIn 2s ease-in-out;
}

h1, h2 {
    color: #ff69b4;
    animation: slideIn 1s ease-in-out;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ff69b4;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff1493;
}

.video, .questions, .gallery, .contact {
    margin-top: 20px;
}

.questions button {
    background-color: #ff69b4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.questions button:hover {
    background-color: #ff1493;
    transform: scale(1.1);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery .photo {
    margin: 10px;
    animation: fadeInUp 1s ease-in-out;
    animation:forwards;
}

.gallery img {
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

form {
    margin-top: 20px;
}

input[type="text"], textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #ff69b4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

input[type="submit"]:hover {
    background-color: #ff1493;
    transform: scale(1.1);
}

/* Keyframes for animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity }
    }
